//
   Created by harry on 10/03/2017.

html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="style.css")
        title Test Http

    body
    div oh, good~!
    div
        img(src="logo.png" alt="")