//
   Created by gao on 2017/3/12.
html
    head
    title I am Live
    meta(charset="utf-8")
    body
        form(action="login?c=login" method="post")
            input(type="text" name="user-name")
            input(type="submit" value="登陆aa")
