//extends layout
//
//block content
//  h1= title
//  p Welcome to #{title}
html
  head
    meta(charset='utf-8')
    title Node.js Upload
    link(rel='stylesheet', href='/static/style.css')

  body
    div#main_content
      div
        p #{user}
        form(enctype="multipart/form-data", action='upload', method='post')
          input(TYPE='file', NAME="image")
          br
          图片名称11
          input(TYPE="text", NAME="name")
          input(type='submit', id='upload', value='上传图片')

